@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=PT+Sans&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap");

:root {
  --green: #00e77f;
  --white: #fff;
  --darker-white: #aaa;
  --black: #3d3d3d;
  --darker-bg: #4b4b4b;
  --main-color: #d50ff7;
  --darker-dark: #474646;
  --bodyBg: #303841;
  --formBg: #343f4b;
  --textColor: #fff;
  --primaryColor: #0076a3;
  --paraColor: #5e6c79;
  --paraColor: #74828f;
}

* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  text-transform: capitalize;
}

*::selection {
  background-color: var(--white);
  color: var(--black);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: 5rem;
}

body {
  background-color: var(--black);
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--darker-bg);
}

.header .flex {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .flex .logo {
  font-size: 2.5rem;
  color: var(--darker-white);
  font-size: 2rem;
}

.header .flex .navbar a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 2rem;
  color: var(--darker-white);
  font-size: 2rem;
}

.header .flex .navbar a:hover {
  color: var(--green);
  transform: scale(1.1);
}

.menu-btn {
  cursor: pointer;
  color: var(--white);
  font-size: 2.5rem;
  background-color: var(--darker-bg);
  display: none;
}
.home {
  margin-top: 6rem;
}
.home .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.home .row .content {
  flex: 1 1 40rem;
  text-align: center;
  align-items: center;
}
.home .row .image {
  text-align: center;
  flex: 1 1 40rem;
}
.home .row .image img {
  margin-top: 5rem;
  width: 80%;
}
.home .row .content h3 {
  font-weight: bolder;
  margin-bottom: 1rem;
  font-size: 8rem;
  color: var(--main-color);
  line-height: 1;
}
.home .row .content h3 span {
  color: var(--white);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background-color: var(--darker-white);
  cursor: pointer;
  color: var(--black);
  font-weight: bold;
  font-size: 1.8rem;
  padding: 1rem 3rem;
}

.btn:hover {
  background-color: var(--white);
  color: var(--black);
}

/* media  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }
  .home .row .content h3 {
    font-size: 7rem;
    color: var(--green);
  }

  .header .flex .navbar {
    align-items: end;
    display: none;
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    border: 0.1rem solid var(--black);
    border-radius: 5px;
    animation: slideIn 0.5s forwards;
    background-color: rgba(75, 75, 75, 0.95);
    text-align: center;
    margin-left: 75%;
    color: var(--white);
  }
  #navbar.show {
    display: block;
  }
  .header .flex .navbar a {
    padding-inline: 15px;
    padding-block: 5px;
    color: var(--darker-white);
    display: block;
    margin: 2rem;
  }
  .header .flex .navbar a:hover {
    transform: scale(1.1);
    background-color: var(--formBg);
    border-radius: 5px;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes iconRotateBars {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes iconRotateTimes {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

.rotate-times {
  animation: iconRotateTimes 1.2s both;
}
.rotate-bars {
  animation: iconRotateBars 1.2s forwards;
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Boxes style */

.count .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 1.5rem;
  text-align: center;
  align-items: flex-start;
}

.count .box-container .box {
  background-color: var(--darker-bg);
  border-radius: 0.5rem;
  padding-block: 1.4rem;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.count .box-container .box:hover {
  background-color: var(--darker-dark);
}

.count .box-container .box i {
  font-size: 5rem;
  color: var(--green);
}
.count .box-container .box .content {
  display: block;
  margin-block: 1rem;
  text-align: center;
}
.count .box-container .box .content h3 {
  font-size: 2.2rem;
  color: var(--white);
}
.count .box-container .box .content p {
  margin-top: -1.5rem;
  font-size: 1.6rem;
  color: var(--darker-white);
}

/* About section */

.about {
  margin-top: 10rem;
}
.about .row {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.about .row .image {
  margin-top: 5rem;
  text-align: center;
  flex: 1 1 40rem;
}

.about .row .image img {
  width: 80%;
}

.about .row .content {
  text-align: center;
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-weight: bold;
  font-size: 3rem;
  color: var(--white);
}

.about .row .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.6rem;
  color: var(--darker-white);
}
.courses-cont {
  max-width: 100%;
  max-height: 400px;
}

/* courses section */
.swiper-cont {
  padding: 2rem;
}
.swiper {
  max-width: 100%;
  margin-block: 5rem;
  max-height: 100rem;
}

.swiper-slide {
  position: relative;
  background-color: var(--darker-dark);
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  align-items: center;
  border-radius: 0.5rem;
  z-index: 0;
}
.swiper-slide img {
  max-width: 15rem;
  max-height: 10rem;
}
.swiper-slide h3 {
  color: var(--white);
}
.swiper-slide p {
  color: var(--darker-white);
  font-size: small;
  padding-inline: 2rem;
}
.swiper-button-next,
.swiper-button-prev {
  z-index: 1;
  position: relative;
  border-radius: 100%;
  font-size: small;
  font-weight: blold;
}

@media (max-width: 720px) {
  .swiper-button-next {
    right: 20px;
    transform: rotate(90deg);
  }

  .swiper-button-prev {
    left: 20px;
    transform: rotate(90deg);
  }
}

/* Instructors section */
#instructors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.instructor {
  width: calc(50% - 20px);
  background-color: white;
  opacity: 0.2;
  margin-inline: 10px;
  margin-block: 5px;
  padding-inline: 10px;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  border-radius: 10px;
}

.instructor:hover {
  opacity: 1;
}
.instructor-image {
  width: 100%;
  height: auto;
  text-align: center;
}

.instructor-image img {
  text-align: center;
  width: 20rem;
  height: 20rem;
  margin: 1rem;
}

.info-about {
  padding: 20px;
}

.info-about h3 {
  margin-top: 0;
  font-size: 2.2rem;
  text-align: center;
}
.info-about p {
  color: var(--darker-white);
  font-size: 1.6rem;
  text-align: center;
}

@media (min-width: 768px) {
  .instructor {
    flex-basis: calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .instructor-image,
  .info-about {
    flex: 1;
  }

  .info-about {
    padding: 20px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.social-icons a i {
  font-size: 2.4rem;
  color: var(--green);
  transition: ease-in 2s all;
}
.social-icons a i:hover {
  background-color: var(--black);
}
.social-icons {
  position: absolute;
  top: 15px;
  right: 5px;
  display: none;
  animation: fadeIn 0.8s ease forwards;
  opacity: 0;
}

.social-icons a {
  display: block;
  margin-bottom: 10px;
}

.instructor:hover .social-icons {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(10px); /* Optional: Add a slight upward movement */
  }
  to {
    opacity: 1;
    transform: translateX(-10px);
  }
}

/* contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 550px;
  margin: auto;
  margin-top: 2em;
}

.sectionHeader {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--primaryColor);
  text-align: center;
  margin-bottom: 0.5em;
}

.heading,
.sub-heading {
  margin-bottom: 0.5em;
  font-weight: bold;
}

.heading {
  font-size: 5.5em;
  text-align: center;
  color: var(--white);
}

.sub-heading {
  text-align: left;
}

.contactForm {
  display: grid;
  gap: 3em;
}

form {
  width: 60%;
  padding-inline: 10%;
  margin-top: 3em;
}

.para {
  color: var(--darker-white);
  font-size: 2rem;
}

.para2 {
  text-align: left;
}

.input {
  margin-inline: 40px;
  margin-right: 20px;
  width: 95%;
  max-width: 700px;
  background-color: #aaa;
  border: none;
  font-size: 1.6rem;
  padding: 1.1rem;
  outline: none;
  color: var(--paraColor);
  border-radius: 10px;
  border: 1px solid rgb(53, 53, 53);
  margin-bottom: 2rem;
}

.input:focus {
  border: 1px solid var(--primaryColor);
}

.input::placeholder {
  text-transform: capitalize;
}

.submit {
  text-align: center;
  background-color: var(--primaryColor);
  border: none;
  color: var(--textColor);
  font-weight: bold;
  cursor: pointer;
  text-align: center;

  width: 100%;
}
.submit:hover {
  background-color: #066286;
}

.map-container {
  margin-top: 15rem;
  position: relative;
  width: 90%;
  height: auto;
  text-align: center;
}

.map {
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  text-align: center;
}

.map iframe {
  width: 100%;
  height: 100%;
}

.contactMethod {
  display: flex;
  flex-wrap: wrap;
  padding-inline: 10%;
  margin-top: 10rem;
}

.method {
  flex: 1 1 0;
  max-width: calc(33.33% - 20px);
  margin: 10px;
  text-align: center;
}

.method i {
  font-size: 50px;
}
.method p {
  font-size: 16px;
  color: #a4a6a6;
  font-weight: 100;
}
.method article h1 {
  color: white;
  font-weight: 100;
}

.contactIcon {
  margin-right: 1rem;
  font-size: 30px;
}

.text {
  margin-top: 10px;
}

.sub-heading {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .map-container {
    display: flex;
    margin-inline: auto;
    width: 80%;
    margin-top: 5%;
    height: auto;
    text-align: center;
  }

  .map {
    padding-inline: 5%;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .contactMethod {
    padding-inline: 5%;
  }
  .method {
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .method {
    max-width: 100%;
  }
}

.method {
  display: flex;
  align-items: center;
}

.contactIcon {
  font-size: 2rem;
  color: var(--primaryColor);
  width: 70px;
}

@media screen and (min-width: 800px) {
  .contactForm {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}

/* Common styles */
.feedback-cont {
  color: black;
  width: 85%;
  padding-inline: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
}

.swiper-container {
  max-width: 220px;
  height: 320px;
  padding: 50px 0;
}

.swiper-slide {
  border: 1px solid var(--darker-bg);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.swiper-slide:hover {
  border: 1px solid #5e6c79;
  transform: scale(1.2);
  transition-duration: 1s;
}

.feedback-cont .swiper-container .swiper-slide p {
  color: black;
  margin: 0;
  font-size: 18px;
  line-height: 1.6;
}

/* For small devices */
@media (max-width: 767px) {
  .feedback-cont {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .swiper-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

/* For medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .feedback-cont {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .swiper-container {
    width: 48%;
    max-width: 400px;
    margin-bottom: 20px;
  }
}

.feedback-cont .swiper-container .swiper-slide:nth-child(1n) {
  background-color: var(--formBg);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(2n) {
  background-color: rgb(69, 118, 251);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(3n) {
  background-color: rgb(11, 114, 71);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(4n) {
  background-color: rgb(211, 122, 7);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(5n) {
  background-color: rgb(118, 163, 12);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(6n) {
  background-color: rgb(233, 114, 140);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(8n) {
  background-color: rgb(69, 118, 251);
}

.feedback-cont .swiper-container .swiper-slide:nth-child(9n) {
  background-color: rgb(244, 132, 244);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
}

.feedback-item {
  width: 100%;
  height: 100%;
}
.feedback-item .left {
  width: 100%;
  height: 15%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-item .left .left-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.feedback-item .left .left-inner img {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.feedback-item .left .left-inner p {
  font-size: larger;
  color: white;
  padding-left: -5px;
}
.feedback-item .left div i {
  color: rgb(255, 127, 80);
  font-size: 17px;
}

.feedback-item .middle {
  width: 100%;
  height: 70%;
  text-align: center;
}
.feedback-item .right {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  color: #aaa;
}
.feedback-item .right div {
  border: 1px solid #576677;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 3px;
}
.feedback-item .right .date {
  margin-top: 10px;
  color: white;
  font-size: small;
}
.feedback-item .right div {
  cursor: pointer;
}
.feedback-item .right div:hover {
  background-color: gray;
  transition-duration: 1s;
}
.feedback-item .right div i {
  color: coral;
}
.feedback-item .right div span {
  font-size: small;
  color: white;
}
